.pagination {
	border-radius: 0.25rem;
	display: flex;
	list-style: none;
	padding-left: 0;
}
li:first-child .page-link {
	border-bottom-left-radius: 0.25rem;
	border-top-left-radius: 0.25rem;
	margin-left: 0;
}
li:last-child .page-link {
	border-bottom-right-radius: 0.25rem;
	border-top-right-radius: 0.25rem;
	margin-right: 0;
}
.page-link {
	background-color: #fff;
	border: 1px solid #ebd800;
	color: #ebd800;
	display: block;
	line-height: 1.25;
	margin-left: -1px;
	padding: 0.5rem 0.75rem;
	position: relative;
	cursor: pointer;
	font-size: 14px;
}
li.disabled .page-link {
	background-color: #eee;
	color: #fff;
	border: 1px solid #eee;
}
li.active .page-link {
	background-color: #ebd800;
	color: #fff;
}
