.character-card-container {
	padding: 1rem;
	border: 1px solid #ffe300;
	color: #000;
	margin-top: 1rem;
}

.character-list-container {
	margin-top: 1rem;
}
.search-input-container {
	margin-top: 1rem;
}
.search-input {
	padding: 0.5rem;
}
.favourite-button {
	z-index: 2;
}
