nav {
	padding: 1rem 0;
	box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
}
nav ul {
	display: flex;
	list-style-type: none;
	margin: 0;
	padding: 0;
}

nav ul li {
	padding: 0 1rem;
	text-align: center;
}
nav ul li a {
	color: #fff;
	font-weight: 700;
}
nav ul li.active a {
	color: #ebd800;
}
nav ul li:nth-child(1) {
	padding-left: 0;
}
